clinic-ai-os/n8n/workflows/ai-suggest-reply.json
{
  "name": "AI Suggest Reply",
  "nodes": [
    {
      "parameters": {
        "path": "ai-suggest-reply",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 260]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_SUPABASE_URL}}/rest/v1/messages?conversation_id=eq.{{$json.conversation_id}}&order=created_at.asc",
        "method": "GET",
        "options": {},
        "responseFormat": "json",
        "headerParametersJson": "={ \n  \"apikey\": \"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\n  \"Authorization\": \"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\"\n}"
      },
      "name": "Fetch Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [520, 260]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "temperature": 0.0,
        "systemPrompt": "You are Clinic AI assistant for Saudi clinics. Language: Arabic-first. Behavior rules: Be polite and concise; never give medical advice; escalate emergencies; detect booking/cancel/angry/faq/cold_lead. Provide suggested reply in Arabic by default and output JSON with keys: suggested_text, action, confidence.",
        "messages": "={{ $node['Fetch Messages'].json.map(m => ({ role: 'user', content: m.body })).slice(-10) }}",
        "max_tokens": 400
      },
      "name": "OpenAI Reply",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [840, 260]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_SUPABASE_URL}}/rest/v1/ai_logs",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={ \n  \"conversation_id\": $json.conversation_id,\n  \"user_input\": $node['Fetch Messages'].json.map(m=>m.body).join('\n'),\n  \"ai_response\": $node['OpenAI Reply'].json,\n  \"action\": $node['OpenAI Reply'].json.choices ? ($node['OpenAI Reply'].json.choices[0].message || null) : null,\n  \"confidence\": null\n}"
      },
      "name": "Save AI Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 260]
    },
    {
      "parameters": {
        "responseData": "={{ { suggested_text: $node['OpenAI Reply'].json.choices ? $node['OpenAI Reply'].json.choices[0].message.content : $node['OpenAI Reply'].json } }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 260]
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "Fetch Messages" } ]] },
    "Fetch Messages": { "main": [[ { "node": "OpenAI Reply" } ]] },
    "OpenAI Reply": { "main": [[ { "node": "Save AI Log" }, { "node": "Respond" } ]] }
  }
}
